body{
    margin: 0;
    padding: 0;
    background:#1a3858 ;/*#130f40*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-recover-password{
    background: #f5f6fa;
    height: 420px;
    width: 720px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0 30px;
}

.form-recover-password .logotipo2{
    width: 350px;
    position: absolute;
    top:5%;
    left:28%;
    display: block;
    margin: auto;
    filter:brightness(1.1);/*lineas de codigo para quitar fondo a una imagen, son estas dos*/
    mix-blend-mode: multiply;/**/
}
.form-recover-password h3{
    margin: 120px 0 0 0;
    padding: 0px 10px 0 10px;
    text-align: center;
}

.form-recover-password label{
    margin: 0;
    padding: 0;
}

.form-recover-password input{
    border: groove;
    border-color:#74b9ff;
    width: 350px;
    height: 25px;
    margin: 0 10px 0 10px;
    margin-left: 40px;
    background: transparent;
    outline: none;
    color: black;
}

.form-recover-password input:focus{
    outline: 0;
}

.form-recover-password h5{
margin-left: 40px; 
font-weight: normal;   
font-size: 15px;
}

.form-recover-password a{
    margin-left: 40px;
    color: #0984e3;
    text-decoration: none;
    margin-right: 315px;
}

.form-recover-password hr{
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: 580px;
}

.form-recover-password button{
    border: none;
    outline: none;
    background:#0984e3 ;
    color: white;
    width: 95px;
    height: 30px;
    border-radius: 5%;
    font-size: 15px;
    cursor: pointer;
}